<template>
  <DashboardLayout>
    <div class="section">
      <router-link :to="{name: 'domains'}">
        <h1 class="title">Domains</h1>
      </router-link>
      <section class="section">
        <b-loading :active.sync="$apollo.queries.domains.loading"/>
        <div class="columns is-multiline">
          <div class="column is-one-third"
               v-for="domain of domains"
               :key="domain.id">
            <domain-card :domain="domain"/>
          </div>
          <div class="column" v-if="pageInfo.hasNextPage">
            <b-button @click="fetchMoreDomains">Load More</b-button>
          </div>
        </div>
      </section>
    </div>
  </DashboardLayout>
</template>

<script>
import { get } from 'lodash';
import DashboardLayout from '@/layouts/DashboardLayout.vue';
import DomainCard from '@/components/DomainCard.vue';
import domainsPage from '@/apollo/queries/domainsPage.gql';

export default {
  name: 'Domains',
  components: { DomainCard, DashboardLayout },
  data() {
    return {
      domains: [],
      pageInfo: {},
    };
  },
  apollo: {
    domains: {
      query: domainsPage,
      update({ currentUser }) {
        return get(currentUser, 'domains.nodes');
      },
      result({ data }) {
        this.pageInfo = get(data, 'currentUser.domains.pageInfo');
      },
    },
  },
  methods: {
    fetchMoreDomains() {
      this.$apollo.queries.domains.fetchMore({
        variables: {
          after: this.pageInfo.endCursor,
        },
        updateQuery: (previousResult, { fetchMoreResult }) => {
          const { nodes, pageInfo } = get(fetchMoreResult, 'currentUser.domains');

          return {
            tagsPage: {
              // eslint-disable-next-line no-underscore-dangle
              __typename: previousResult.domains.__typename,
              // Merging the tag list
              nodes: [...previousResult.domains.nodes, ...nodes],
              pageInfo,
            },
          };
        },
      });
    },
  },
};
</script>
