<template>
  <DashboardLayout>
    <section class="section">
      <h1 class="title">{{ domain.name }} Domain</h1>
      <div class="level">
        <div class="level-left">
          <span class="level-item">
            <b-taglist attached>
              <b-tag type="is-primary">Total Systems</b-tag>
              <b-tag type="is-dark">{{ domain.totalSystems }}</b-tag>
            </b-taglist>
          </span>
          <span class="level-item">
            <b-taglist attached>
              <b-tag type="is-success">Active Systems</b-tag>
              <b-tag type="is-dark">{{ domain.activeSystems }}</b-tag>
            </b-taglist>
          </span>
          <span class="level-item">
            <b-taglist attached>
              <b-tag type="is-grey">Offline Systems</b-tag>
              <b-tag type="is-dark">{{ domain.offlineSystems }}</b-tag>
            </b-taglist>
          </span>
        </div>
      </div>
      <section class="section">
        <h2 class="subtitle">Systems</h2>
        <systems-table :systems="systems" @remove="confirmSystemRemoval"/>
      </section>
    </section>
  </DashboardLayout>
</template>

<script>
import { get, set, findIndex } from 'lodash';

import DashboardLayout from '@/layouts/DashboardLayout.vue';
import domainQuery from '@/apollo/queries/domain.gql';
import systemRemoveMutation from '@/apollo/mutations/systemRemove.gql';
import systemStatusUpdateSubscription from '@/apollo/subscriptions/systemStatusUpdated.gql';
import SystemsTable from '@/components/SystemsTable.vue';
import { formatGraphQLErrors } from '@/utils/errors';

export default {
  name: 'Domain',
  components: { SystemsTable, DashboardLayout },
  props: {
    id: String,
  },
  data() {
    return {
      domain: {},
    };
  },
  computed: {
    systems() {
      return get(this.domain, 'systems.nodes', []);
    },
  },
  apollo: {
    domain: {
      query: domainQuery,
      variables() {
        return {
          id: this.id,
        };
      },
      update({ currentUser }) {
        return currentUser.domain;
      },
      result() {
        this.systems.forEach(async ({ id }) => {
          await this.$apollo.queries.domain.subscribeToMore({
            document: systemStatusUpdateSubscription,
            variables: {
              domainId: this.domain.id,
              id,
            },
            updateQuery(previousData, { subscriptionData }) {
              const { id: sysId, status } = get(subscriptionData, 'data.systemStatusChanged');
              const systems = get(previousData, 'currentUser.domain.systems.nodes');
              const index = findIndex(systems, { id: sysId });
              const sys = systems[index];
              systems.splice(index, 1, { ...sys, status });
              return set(previousData, 'currentUser.domain.systems.nodes', systems);
            },
          });
        });
      },
    },
  },
  methods: {
    confirmSystemRemoval({ id, name }) {
      this.$buefy.dialog.confirm({
        title: 'Deleting system',
        message: `Are you sure you want to <b>delete</b> system ${name}? This action cannot be undone.`,
        confirmText: `Delete ${name}`,
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => this.removeSystem({ id }),
      });
    },
    async removeSystem({ id }) {
      try {
        await this.$apollo.mutate({
          mutation: systemRemoveMutation,
          variables: {
            domainId: this.domain.id,
            id,
          },
        });

        await this.$apollo.queries.domain.refetch();
      } catch (err) {
        this.$buefy.dialog.alert({
          title: 'Error',
          message: formatGraphQLErrors(err),
          type: 'is-danger',
          hasIcon: true,
          icon: 'times-circle',
          iconPack: 'fa',
          ariaRole: 'alertdialog',
          ariaModal: true,
        });
      }
    },
  },
};
</script>
