<template>
  <DashboardLayout>
    <h1 class="title">Home</h1>
  </DashboardLayout>
</template>

<script>
import DashboardLayout from '@/layouts/DashboardLayout.vue';

export default {
  name: 'Home',
  components: { DashboardLayout },
};
</script>
