<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{ domain.name }}
      </p>
    </header>
    <div class="card-content">
      <b-field grouped group-multiline>
        <div class="control">
          <b-taglist attached>
            <b-tag type="is-primary">Total Systems</b-tag>
            <b-tag type="is-dark">{{ domain.totalSystems }}</b-tag>
          </b-taglist>
        </div>
        <div class="control">
          <b-taglist attached>
            <b-tag type="is-success">Active Systems</b-tag>
            <b-tag type="is-dark">{{ domain.activeSystems }}</b-tag>
          </b-taglist>
        </div>

        <div class="control">
          <b-taglist attached>
            <b-tag type="is-grey">Offline Systems</b-tag>
            <b-tag type="is-dark">{{ domain.offlineSystems }}</b-tag>
          </b-taglist>
        </div>
      </b-field>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DomainCard',
  props: {
    domain: Object,
  },
};
</script>

<style scoped>

</style>
