<template>
  <b-navbar>
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ name: 'home' }">
        <h1 class="title">HomeWatch</h1>
      </b-navbar-item>
    </template>
    <template slot="start">
      <b-navbar-item tag="router-link"
        :to="{ name: 'home' }">
        Home
      </b-navbar-item>
      <b-navbar-dropdown label="Domains"
                         tag="router-link"
                         :to="{ name: 'domains' }"
                         v-if="domains.length > 0">
        <b-navbar-item v-for="domain of domains"
                       tag="router-link"
                       :to="{ name: 'domain', params: { id: domain.slug } }"
                       :key="domain.id">
          {{ domain.name }}
        </b-navbar-item>
        <b-navbar-item href="#" v-if="domains.length >= 5">
          More...
        </b-navbar-item>
      </b-navbar-dropdown>
      <b-navbar-dropdown label="Domains" v-else>
        <b-navbar-item>
          No Domains
        </b-navbar-item>
      </b-navbar-dropdown>
    </template>

    <template slot="end">
      <b-navbar-item tag="div">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
export default {
  name: 'Navbar',
  props: {
    domains: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
