<template>
  <b-table
    :data="systems"
    ref="table"
    detail-key="id"
    default-sort-direction="asc"
    icon-pack="fas"
    default-sort="status"
    aria-next-label="Next page"
    aria-previous-label="Previous page"
    aria-page-label="Page"
    aria-current-label="Current page">

    <template slot-scope="props">
      <b-table-column field="name" label="Name" sortable>
        <template>
          {{ props.row.name }}
        </template>
      </b-table-column>

      <b-table-column field="os" label="OS">
        {{ props.row.operatingSystem }}
      </b-table-column>

      <b-table-column field="status" label="Status" sortable>
        <template>
          <b-tag :type="getStatusTagType(props.row.status)">{{ props.row.status }}</b-tag>
        </template>
      </b-table-column>

      <b-table-column field="lastSeenAt" label="Last Seen">
        {{ props.row.lastSeenAt }}
      </b-table-column>

      <b-table-column field="delete">
        <b-button @click="$emit('remove', props.row)">
          <b-icon
            pack="fas"
            icon="trash-alt"
            type="is-danger"
          />
        </b-button>
      </b-table-column>

    </template>

    <template slot="detail" slot-scope="props">
      {{ props.row.name }}
    </template>
  </b-table>
</template>

<script>
export default {
  name: 'SystemsTable',
  props: {
    systems: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    getStatusTagType(status) {
      switch (status) {
        case 'ACTIVE':
          return 'is-success';
        case 'WARNING':
          return 'is-warning';
        case 'OFFLINE':
          return 'is-light';
        case 'UNKNOWN':
        default:
          return 'is-dark';
      }
    },
  },
};
</script>

<style scoped>

</style>
