<template>
  <div>
    <Navbar :domains="domains"/>
    <slot/>
  </div>
</template>

<script>
import { get } from 'lodash';
import Navbar from '@/components/Navbar.vue';
import domainsQuery from '@/apollo/queries/firstFiveDomains.gql';

export default {
  name: 'DashboardLayout',
  components: { Navbar },
  data() {
    return {
      domains: [],
    };
  },
  apollo: {
    domains: {
      query: domainsQuery,
      update({ currentUser }) {
        return get(currentUser, 'domains.nodes');
      },
    },
  },
};
</script>

<style scoped>

</style>
